@font-face
{
    font-family: molot;
    src: url(Molot.otf);
}

.atlas-bg {
    background-color: black;
    background-image: url("src/beetleshadow.jpg");
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

body
{
    color: white;
    background-color: black;
    background-image: url("src/beetleshadow.jpg");
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

@media (min-width: 500px) {
    .ul1 {
         font-size: 60px;
        }
    }

@media (max-width: 499px) {
    .ul1 {
        font-size: 35px;
        padding: 0px;
    }
}

h1
{
    color: white;
    font-family: molot;
}


p
{
    color: white;
    font-family: molot;
    font-size: 20px;
}


ul
{
    list-style-type: none;
    margin: 0;
    padding: 0 10%;
    overflow: hidden;
    background-color: #000;
    width: 100%;
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    font-family: molot;
}

.ul1
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    left: 0px;
    z-index:101;
}

li
{
    float: right;
}
.li1
{
    float: left;
    z-index:102;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 0px 34px;
    text-decoration: none;
}
.nav {
    z-index: 100;
}
li a, #navbar, li a:before, #navbar:before, #navbar:after,li a:after {
    transition: all .5s;
}
.nav li a, #navbar {
  position: relative;
  font-size: 27px;
}
.nav li a:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: white;
  background: #aaa;
  height: 1px;
}
#navbar:after {
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: white;
  background: #aaa;
  height: 1px;
}
.nav li a:hover:after, #navbar:hover:after {
  width: 66%;
}

.a1
{
    color: white;
}


li:hover
{
  opacity: 0.7;
}
.active
{
  color: #fff;
  background-color: #000;
  font-size: 27px;
}

div
{
    text-align: center;
    padding: 0px;
    position: relative;
    top: 130px;
    left: 30px;
}

div.gallery {
  margin: 5px;
  border: 0px solid #ccc;
  float: left;
  width: 385px;
  z-index: 1;
  font-family: molot;
}



div.gallery:hover {
  border: 0px solid #777;
  /*would be nice to have a hover function that opens between molotov + models the picture between*/
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 0px;
  text-align: center;
}


div.contact {
    
    background-color: black;
    color: white;
    font-family: molot;
    font-size: 20px;
}


/*adapt page for mobile */
@media (max-width: 499px) {
  body {
    background-color: black;
    background-image: url("src/beetleshadow.jpg");
    background-size: cover;
    background-position: center
    text-align: center;
  }
  .ul1 {
        font-size: 35px;
        padding: 0px;
    }
    .li1 {
        float: right;
    }
    .a1 {
        color: white;
    }
    .gallery {
        width: 100%;
    }
    .desc {
        padding: 0px;
    }
    .contact {
        padding: 0px;
    }
}

/*adapt page for tablet */
@media (min-width: 500px) and (max-width: 999px) {
    body {
    background-color: black;
    background-image: url("src/beetleshadow.jpg");
    background-size: cover;
    background-position: center
    text-align: center;
  }
    .ul1 {
        font-size: 60px;
        padding: 0px;
    }
    .li1 {
        float: right;
    }
    .a1 {
        color: white;
    }
    .gallery {
        width: 100%;
    }
    .desc {
        padding: 0px;
    }
    .contact {
        padding: 0px;
    }
}
